body {
  margin: 0;
  background-image: url("smartphone.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smartphone {
  position: relative;
  width: 17%;
  height: 66%;
  background-color: white;
}

/* 画面幅が768px以下の場合に適用されるスタイル */
@media screen and (max-width: 768px) {
  .smartphone {
    width: 80%;
    /* スマホ画像の幅を親要素の80%に設定 */
    /* その他のスタイル */
  }
}

.screen {
  position: relative;
  top: 15%;
  /* スマホ画像のスクリーン部分の位置に合わせて調整 */
  left: 10%;
  /* スマホ画像のスクリーン部分の位置に合わせて調整 */
  width: 80%;
  /* スマホ画像のスクリーン部分のサイズに合わせて調整 */
  height: 70%;
  /* スマホ画像のスクリーン部分のサイズに合わせて調整 */
  /* border: 2px solid #333; スクリーン部分の境界を確認できるようにするために一時的に追加 */
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  z-index: 100;
}

nav a {
  margin-right: 1rem;
  color: #333;
  text-decoration: none;
}

#loadRollButton {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#loadRollButton:hover {
  background-color: #005b82;
}
